Repository siderolabs/talos, pull requests merged in 2025-07, with the labels that each got.

#11286 chore: improve cloud image uploader resilience
  hack/cloud-image-uploader/aws.go
Labels: status/ok-to-test, status/ok-to-merge, integration/cloud-images

#11291 release(v1.11.0-alpha.3): prepare release
  CHANGELOG.md
  go.mod
  pkg/imager/utils/epoch.go
  pkg/imager/utils/raw.go
  pkg/machinery/gendata/data/tag
  pkg/machinery/version/os-release
  website/content/v1.11/reference/cli.md
Labels: status/ok-to-test, status/ok-to-merge

#11290 feat: add talosctl mulitarch bundle image
  Makefile
Labels: status/ok-to-test, status/ok-to-merge

#11289 docs: document disabling SELinux
  website/content/v1.11/advanced/selinux.md
Labels: status/ok-to-test, status/ok-to-merge

#11167 docs: add example for fluentbit config
  website/content/v1.10/talos-guides/configuration/logging.md
  website/content/v1.11/talos-guides/configuration/logging.md
Labels: status/ok-to-test, status/ok-to-merge

#11302 chore: bump Talos version in the Image Factory CI pipeline
  .github/workflows/ci.yaml
  .github/workflows/integration-image-factory-cron.yaml
  .kres.yaml
Labels: status/ok-to-test, status/ok-to-merge

#11323 feat: include packages into SBOM
  .github/workflows/ci.yaml
  .kres.yaml
  Dockerfile
  Makefile
  hack/sbom.sh
  pkg/machinery/gendata/data/pkgs
Labels: status/ok-to-test, status/ok-to-merge

#11309 fix: provide FIPS 140-3 compliance
  .github/workflows/ci.yaml
  .kres.yaml
  Dockerfile
  Makefile
  api/resource/definitions/enums/enums.proto
  api/resource/definitions/runtime/runtime.proto
  go.mod
  go.sum
  internal/app/machined/pkg/adapters/kubespan/identity_test.go
  internal/app/machined/pkg/adapters/network/wireguard_spec_test.go
  internal/app/machined/pkg/controllers/cluster/local_affiliate_test.go
  internal/app/machined/pkg/controllers/kubespan/identity.go
  internal/app/machined/pkg/controllers/kubespan/identity_test.go
  internal/app/machined/pkg/controllers/kubespan/manager_test.go
  internal/app/machined/pkg/controllers/network/link_spec_test.go
  internal/app/machined/pkg/controllers/runtime/security_state.go
  internal/app/machined/pkg/controllers/secrets/maintenance_root.go
  internal/app/machined/pkg/controllers/siderolink/manager.go
  internal/app/machined/pkg/controllers/siderolink/manager_test.go
  internal/app/machined/pkg/startup/tasks.go
  internal/app/machined/pkg/system/services/apid.go
  internal/app/machined/pkg/system/services/trustd.go
  internal/app/trustd/internal/reg/reg_test.go
  internal/pkg/mount/switchroot/switchroot.go
  pkg/machinery/api/resource/definitions/enums/enums.pb.go
  pkg/machinery/api/resource/definitions/runtime/runtime.pb.go
  pkg/machinery/api/resource/definitions/runtime/runtime_vtproto.pb.go
  pkg/machinery/config/generate/secrets/ca.go
  pkg/machinery/config/generate/secrets/generate_test.go
  pkg/machinery/fipsmode/fipsmode.go
  pkg/machinery/fipsmode/fipsmode_test.go
  pkg/machinery/go.mod
  pkg/machinery/go.sum
  pkg/machinery/resources/runtime/fipsstate_enumer.go
  pkg/machinery/resources/runtime/security_status.go
  pkg/machinery/resources/runtime/selinuxstate_enumer.go
  pkg/makefs/ext4.go
  website/content/v1.11/reference/api.md
Labels: status/ok-to-test, status/ok-to-merge

#11325 feat: export SBOM as resources
  Makefile
  api/resource/definitions/runtime/runtime.proto
  hack/release.toml
  internal/app/machined/pkg/controllers/runtime/sbom_item.go
  internal/app/machined/pkg/controllers/runtime/sbom_item_test.go
  internal/app/machined/pkg/controllers/runtime/testdata/spdx/test.spdx.json
  internal/app/machined/pkg/runtime/v1alpha2/v1alpha2_controller.go
  internal/app/machined/pkg/runtime/v1alpha2/v1alpha2_state.go
  internal/integration/api/sbom.go
  pkg/machinery/api/resource/definitions/runtime/runtime.pb.go
  pkg/machinery/api/resource/definitions/runtime/runtime_vtproto.pb.go
  pkg/machinery/constants/constants.go
  pkg/machinery/gendata/data/pkgs
  pkg/machinery/resources/runtime/deep_copy.generated.go
  pkg/machinery/resources/runtime/runtime.go
  pkg/machinery/resources/runtime/runtime_test.go
  pkg/machinery/resources/runtime/sbom_item.go
  pkg/makefs/xfs_test.go
  pkg/provision/providers/vm/internal/ipxe/data/ipxe/amd64/snp.efi
  pkg/provision/providers/vm/internal/ipxe/data/ipxe/arm64/snp.efi
  website/content/v1.11/reference/api.md
Labels: status/ok-to-test, status/ok-to-merge

#11332 feat: support project quota support for user volumes
  internal/app/machined/pkg/controllers/block/user_volume_config.go
  internal/integration/api/volumes.go
  pkg/machinery/config/config/volume.go
  pkg/machinery/config/schemas/config.schema.json
  pkg/machinery/config/types/block/block_doc.go
  pkg/machinery/config/types/block/deep_copy.generated.go
  pkg/machinery/config/types/block/testdata/uservolumeconfig_prjquota.yaml
  pkg/machinery/config/types/block/user_volume_config.go
  pkg/machinery/config/types/block/user_volume_config_test.go
  website/content/v1.11/reference/configuration/block/uservolumeconfig.md
  website/content/v1.11/schemas/config.schema.json
Labels: status/ok-to-test, status/ok-to-merge, integration/qemu

#11346 fix: rename instances to referenceCount
  api/resource/definitions/runtime/runtime.proto
  internal/app/machined/pkg/controllers/runtime/loaded_kernel_module.go
  internal/app/machined/pkg/controllers/runtime/loaded_kernel_module_test.go
  internal/integration/api/extensions_qemu.go
  pkg/machinery/api/resource/definitions/runtime/runtime.pb.go
  pkg/machinery/api/resource/definitions/runtime/runtime_vtproto.pb.go
  pkg/machinery/resources/runtime/loaded_kernel_module.go
  website/content/v1.11/reference/api.md
Labels: status/ok-to-test, status/ok-to-merge, integration/qemu

#11333 feat: bump Linux, Go and other packages
  Dockerfile
  Makefile
  go.mod
  go.work
  hack/release.toml
  hack/sbom.sh
  internal/pkg/rootfs/rootfs_test.go
  pkg/machinery/constants/constants.go
  pkg/machinery/gendata/data/pkgs
  pkg/machinery/gendata/data/tools
  tools/go.mod
Labels: status/ok-to-test, status/ok-to-merge, integration/reproducibility-test

#11354 feat: add validation for secrets bundle
  cmd/talosctl/cmd/mgmt/gen/config.go
  pkg/machinery/config/generate/secrets/bundle.go
  pkg/machinery/config/generate/secrets/testdata/invalid-secrets.yaml
  pkg/machinery/config/generate/secrets/validate_test.go
Labels: status/ok-to-test, status/ok-to-merge

#11359 test: split tests and lint from the default pipeline
  .github/workflows/ci.yaml
  .kres.yaml
Labels: status/ok-to-test, status/ok-to-merge

#11360 feat: include hwrandom modules
  hack/modules-amd64.txt
Labels: status/ok-to-test, status/ok-to-merge

#11361 feat: update Kubernetes to v1.34.0-alpha.3
  Makefile
  go.mod
  go.sum
  hack/release.toml
  hack/test/e2e.sh
  internal/pkg/cri/images.go
  pkg/machinery/constants/constants.go
  website/content/v1.11/reference/cli.md
  website/content/v1.11/reference/configuration/v1alpha1/config.md
Labels: status/ok-to-test, status/ok-to-merge

#11363 feat(talosctl): support tpm operation on mac
  cmd/talosctl/cmd/mgmt/cluster/create/command.go
Labels: status/ok-to-test, status/ok-to-merge

#11362 test: fix flaky TestDNS
  internal/pkg/dns/dns_test.go
Labels: status/ok-to-test, status/ok-to-merge

#11364 test: refactor various merge controller tests
  internal/app/machined/pkg/controllers/network/address_merge_test.go
  internal/app/machined/pkg/controllers/network/hostname_merge_test.go
  internal/app/machined/pkg/controllers/network/link_merge_test.go
  internal/app/machined/pkg/controllers/network/operator_merge_test.go
  internal/app/machined/pkg/controllers/network/resolver_merge_test.go
  internal/app/machined/pkg/controllers/network/route_merge_test.go
  internal/app/machined/pkg/controllers/network/timeserver_merge_test.go
Labels: status/ok-to-test, status/ok-to-merge

#11380 fix: sd-boot kexec with disk images
  internal/app/machined/pkg/runtime/v1alpha1/bootloader/sdboot/efivars.go
  internal/app/machined/pkg/runtime/v1alpha1/bootloader/sdboot/sdboot.go
  internal/app/machined/pkg/runtime/v1alpha1/bootloader/sdboot/sdboot_test.go
  internal/app/machined/pkg/runtime/v1alpha1/v1alpha1_sequencer_tasks.go
Labels: status/ok-to-merge

#11373 chore: build less images by default
  .github/workflows/ci.yaml
  .github/workflows/integration-aws-cron.yaml
  .github/workflows/integration-aws-nvidia-nonfree-cron.yaml
  .github/workflows/integration-aws-nvidia-oss-cron.yaml
  .github/workflows/integration-gcp-cron.yaml
  .kres.yaml
  Makefile
Labels: status/ok-to-test, status/ok-to-merge, integration/aws, integration/aws-nvidia-oss, integration/gcp

#11388 test: use Grype to scan SBOM for vulnerabilities
  .github/workflows/ci.yaml
  .github/workflows/grype-scan-cron.yaml
  .github/workflows/slack-notify.yaml
  .kres.yaml
  Dockerfile
  Makefile
  tools/go.mod
  tools/go.sum
Labels: status/ok-to-test, status/ok-to-merge

#11403 fix: fill serial using helpers
  internal/app/machined/pkg/controllers/block/disks.go
  pkg/provision/providers/qemu/launch.go
Labels: status/ok-to-test, status/ok-to-merge

#11382 chore(machined): remove deprecated Endpoints
  go.mod
  go.sum
  internal/app/machined/pkg/controllers/k8s/endpoint.go
  internal/app/machined/pkg/controllers/k8s/manifest.go
  internal/app/machined/pkg/controllers/k8s/manifest_test.go
  internal/app/machined/pkg/controllers/k8s/templates.go
  internal/app/machined/pkg/controllers/k8s/templates/talos-nodes-rbac-template.yaml
  internal/app/machined/pkg/controllers/kubeaccess/endpoint.go
  internal/integration/api/serviceaccount.go
  pkg/machinery/go.mod
  pkg/machinery/go.sum
Labels: status/ok-to-test, status/ok-to-merge, integration/misc-1

#11378 feat: implement ExistingVolumeConfig
  hack/release.toml
  internal/app/machined/pkg/controllers/block/internal/volumes/locate.go
  internal/app/machined/pkg/controllers/block/user_volume_config.go
  internal/integration/api/volumes.go
  pkg/machinery/cel/celenv/celenv.go
  pkg/machinery/cel/celenv/celenv_test.go
  pkg/machinery/config/config/config.go
  pkg/machinery/config/config/document.go
  pkg/machinery/config/config/volume.go
  pkg/machinery/config/container/container.go
  pkg/machinery/config/container/container_test.go
  pkg/machinery/config/schemas/config.schema.json
  pkg/machinery/config/types/block/block.go
  pkg/machinery/config/types/block/block_doc.go
  pkg/machinery/config/types/block/deep_copy.generated.go
  pkg/machinery/config/types/block/existing_volume_config.go
  pkg/machinery/config/types/block/existing_volume_config_test.go
  pkg/machinery/config/types/block/raw_volume_config_test.go
  pkg/machinery/config/types/block/testdata/existingvolumeconfig_selector.yaml
  pkg/machinery/config/types/block/testdata/rawvolumeconfig_diskselector.yaml
  pkg/machinery/config/types/block/testdata/rawvolumeconfig_encrypted.yaml
  pkg/machinery/config/types/block/user_volume_config.go
  pkg/machinery/constants/constants.go
  pkg/machinery/resources/block/block.go
  website/content/v1.11/reference/configuration/block/existingvolumeconfig.md
  website/content/v1.11/schemas/config.schema.json
  website/content/v1.11/talos-guides/configuration/disk-management/_index.md
  website/content/v1.11/talos-guides/configuration/disk-management/common.md
  website/content/v1.11/talos-guides/configuration/disk-management/existing.md
Labels: status/ok-to-test, status/ok-to-merge

#11001 feat: increase boot partition to 2 GiB
  cmd/installer/pkg/install/install.go
  hack/release.toml
  internal/app/machined/pkg/controllers/block/volume_config.go
  internal/app/machined/pkg/controllers/block/volume_config_test.go
  internal/app/machined/pkg/runtime/v1alpha1/bootloader/bootloader.go
  internal/app/machined/pkg/runtime/v1alpha1/bootloader/bootloader_test.go
  internal/app/machined/pkg/runtime/v1alpha1/bootloader/dual/dual.go
  internal/app/machined/pkg/runtime/v1alpha1/bootloader/grub/grub.go
  internal/app/machined/pkg/runtime/v1alpha1/bootloader/sdboot/sdboot.go
  internal/pkg/partition/constants.go
  internal/pkg/partition/partition.go
  pkg/cluster/check/nodes.go
  pkg/imager/profile/output.go
  pkg/imager/profile/testdata/akamai-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/akamai-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/aws-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/aws-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/azure-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/azure-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/cloudstack-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/cloudstack-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/digital-ocean-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/digital-ocean-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/exoscale-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/exoscale-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/gcp-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/gcp-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/hcloud-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/hcloud-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/metal-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/metal-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/nocloud-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/nocloud-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/opennebula-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/opennebula-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/openstack-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/openstack-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/oracle-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/oracle-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/scaleway-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/scaleway-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/secureboot-metal-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/secureboot-metal-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/upcloud-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/upcloud-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/vmware-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/vmware-arm64-1.11.0.yaml
  pkg/imager/profile/testdata/vultr-amd64-1.11.0.yaml
  pkg/imager/profile/testdata/vultr-arm64-1.11.0.yaml
  pkg/machinery/imager/quirks/partitions.go
  pkg/machinery/imager/quirks/quirks.go
  pkg/machinery/imager/quirks/quirks_test.go
Labels: status/ok-to-test, status/ok-to-merge

#11412 test: add talosctl:latest to the image cache
  cmd/talosctl/cmd/talos/image.go
Labels: status/ok-to-test, status/ok-to-merge, integration/image-cache

#11411 release(v1.11.0-beta.0): prepare release
  .conform.yaml
  .github/workflows/ci.yaml
  .github/workflows/integration-aws-nvidia-nonfree-cron.yaml
  .github/workflows/integration-aws-nvidia-oss-cron.yaml
  .github/workflows/integration-extensions-cron.yaml
  .github/workflows/integration-qemu-csi-longhorn-cron.yaml
  .kres.yaml
  CHANGELOG.md
  cmd/talosctl/cmd/talos/image.go
  go.mod
  pkg/machinery/gendata/data/tag
  pkg/machinery/version/os-release
  website/content/v1.11/reference/cli.md
Labels: status/ok-to-test, status/ok-to-merge, integration/misc-4, integration/misc-3, integration/image-cache

#11399 chore(ci): add more nvidia test matrix
  .github/renovate.json
  .github/workflows/ci.yaml
  .github/workflows/integration-aws-nvidia-nonfree-lts-cron.yaml
  .github/workflows/integration-aws-nvidia-nonfree-production-cron.yaml
  .github/workflows/integration-aws-nvidia-oss-lts-cron.yaml
  .github/workflows/integration-aws-nvidia-oss-production-cron.yaml
  .github/workflows/slack-notify.yaml
  .kres.yaml
  hack/test/e2e-aws-prepare.sh
  internal/integration/api/constants.go
  internal/integration/api/extensions_nvidia.go
  internal/integration/api/testdata/nvidia-device-plugin.yaml
  website/content/v1.11/talos-guides/configuration/nvidia-gpu.md
Labels: status/ok-to-test, status/ok-to-merge

#11418 feat: update etcd to v3.5.22
  hack/release.toml
  pkg/machinery/constants/constants.go
  website/content/v1.11/reference/configuration/v1alpha1/config.md
Labels: status/ok-to-test, status/ok-to-merge, integration/qemu

#11422 chore(renovate): fix datasource versioning
  Makefile
  internal/integration/api/constants.go
Labels: status/ok-to-test, status/ok-to-merge

#11433 chore: tag aws snapshots created via ci with the image name
  hack/cloud-image-uploader/aws.go
Labels: status/ok-to-test, status/ok-to-merge, integration/cloud-images

#11466 docs: add remark about 'exclude-from-external-load-balancers'
  website/content/v1.10/talos-guides/howto/workers-on-controlplane.md
  website/content/v1.11/talos-guides/howto/workers-on-controlplane.md
Labels: status/ok-to-merge

#11457 docs: add ETCD downgrade documentation
  website/content/v1.11/advanced/etcd-maintenance.md
Labels: status/ok-to-test, status/ok-to-merge

#11474 feat: add F71808E watchdog driver
  Makefile
  hack/modules-amd64.txt
  pkg/machinery/gendata/data/pkgs
Labels: status/ok-to-test, status/ok-to-merge

#11481 fix: live reload of TLS client config for discovery client
  go.mod
  go.sum
  internal/app/machined/pkg/controllers/cluster/discovery_service.go
Labels: status/ok-to-test, status/ok-to-merge
